h1 {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: end;
  margin: 0 auto 15px;

  button {
    cursor: pointer;
    color: #ffffff;
    background-color: #d11111;
    border-width: 0;
    border-radius: 5px;
    font-size: 15px;
    height: 36px;
    width: 150px;
  }

  button:hover {
    background-color: #af0f0f;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  th {
    color: #ffffff;
    background-color: #d11111;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
